# Backend database connection string
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/<database>?retryWrites=true&w=majority

# Frontend production backend URL
VITE_API_URL=https://finance-management-backend.onrender.com/api
